[Unit]
Description=Rotate desktop background every 5 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
Unit=background-rotate.service

[Install]
WantedBy=timers.target
